body {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.botao-registro {
    background-color: black;
    color: #ffffff;
    margin-left: 180%;
    width: 99px;
    height: 40px;
}

.nomenclatura-logo {
    font-size: 56px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 60px;
}

.foto-estudo01 {
    border-width: 100px;
    max-width: 500px;
    margin-top: 30%;
    margin-left: 15%;
}

.foto-estudo02 {
    border-width: 100px;
    max-width: 500px;
    margin-top: 30%;
    margin-left: 0px;
}

.botao-login {
    width: 80px;
    height: 40px;
    background-color: white;
    margin-left: 220%;
    margin-bottom: 10%;
}

.botao-cta {
    background-color: black;
    color: #ffffff;
    text-align: center;
    width: Fixed (208px)px;
    height: (48px)px;
    padding: 7px 70px 7px 60px;
    gap: 5px;
    opacity: 0px;
    margin-left: 10%;

}

.frase-cta {
    margin-left: 3%;
    margin-top: 3%;
    max-width: 30%;
    font-weight: 400;
    font-size: 14px;
    font-family: Roboto;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.titulo-principal {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    margin-top: 35%;
    margin-left: 10%;
    text-decoration-skip-ink: none;

}

.descricao-titulo-principal {
    font-family: Arial, Helvetica, sans-serif;
    width: 77%;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    margin-left: 10%;

}

.titulo-pag-02 {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 20%;

}

.titulo-pag-03 {
    margin-top: 35%;
}

.cubo-png-01 {
    margin-left: 45%;
    margin-top: 10%;
    align-items: right;
}

.beneficio-linha-02 {
    font-size: 24px;
    margin-top: 5%;
    font-weight: 700;
    line-height: 33.6px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.descricao-beneficio-01 {

    font-family: Roboto;
    margin-top: 4%;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.titulo-principal-02 {
    font-family: Roboto;
    font-size: 56px;
    max-width: 80%;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.botao-branco {
    width: 78px;
    height: 48px;
    gap: 0px;
    opacity: 0px;
    margin-top: 5%;
    background-color: white;
}

.titulo-principal-03 {
    font-family: Roboto;
    font-size: 56px;
    width: 80%;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -1px;
    text-align: left;
    text-underline-position: from-fo;
    text-decoration-skip-ink: none;
}

.h5-top-03 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.distancia-topicos-1 {
    margin-top: 10%;
}

.descricao-estrela {

    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 10%;


}

.nome-estrela {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.descricao-topico-estrela {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.pergunta-principal-faq {
    padding-top: 8vh;
}

.perguntas-faq-01 {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.descricao-faq-01 {

    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.card-linha-04 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black;
}

.card-linha-05 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: black;
}


.topico-cinco-faqs {
    margin-top: 10%;
    margin-left: 30%;
    max-width: 50%;
    text-align: left;
}

.quarta-png-penultima {
    background: #7B7B7B;
}

.penultimo-topico {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ffffff;
    margin-top: 3%;
}

.descricao-penultimo-topico {
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 1%;

}

.botao-cta-penul {
    background-color: black;
    color: #ffffff;
    text-align: center;
    width: 234px;
    height: 48px;
    padding: 7px 80px 7px 75px;
    gap: 5px;
    margin-top: 2%;
    margin-left: 41%
}

.ultimo-botao {
    width: 100%;
    height: 48px;
    text-align: center;

}

.linha-footer {
    background-color: black;

}

.link-footer {
    color: black;
    text-decoration: none;
}

.distancia-brands {
    margin-left: 8px;
}

.input-last {
    height: 48px;
    width: 100%;
}

@media (max-width: 768px) {
    .titulo-principal {
        font-size: 3em;
        font-weight: bolder;
        max-width: 80%;
    }

    .descricao-titulo-principal {
        font-weight: normal;
        padding-top: 3vh;
        font-size: 1.1em;
        font-weight: 100;
    }

    .botao-cta {
        padding: 7px 40px 7px 40px;
    }

    .frase-cta {
        margin-top: 5%;
        max-width: 80%;
    }

    .foto-estudo01 {
        height: 45vh;
        padding: auto;
    }

    .titulo-principal-02 {
        font-size: 2em;
        font-weight: bolder;
        max-width: 80%;
    }

    .descricao-titulo-principal-02 {
        font-size: 1.2em;
        font-weight: normal;
    }

    .foto-estudo02 {
        height: 45vh;
        margin-left: 15%;
    }

    .titulo-terceiro-topico {
        font-size: 2.8em;
        max-width: 100%;
        font-weight: bolder;
    }

    .dsc-titulo-principal-02 {
        font-size: 1.2em;
        font-weight: normal;
    }

    .pergunta-principal-faq {
        max-width: 90%;
        font-size: 2.8;
        font-weight: bolder;
    }

    .perguntas-faq-01 {
        font-size: 3em;
        padding-bottom: 8px;
        max-width: 100%;
        margin-left: 10%;
    }

    .descricao-faq-01 {
        font-size: 1.2em;
        max-width: 100%;
        margin-left: 12%;
    }

    .accordi-5topico {
        margin-left: 2%;
    }

    .penultimo-topico {
        font-size: 3em;
        font-weight: bolder;
        margin: auto;
        padding-bottom: 5%;
        padding-top: 7px;
    }

    .descricao-penultimo-topico {
        margin-left: 5%;
        text-align: left;
        font-size: 1.2em;
        font-weight: normal;
    }

    .botao-cta-penul {
        padding: 7px 3px 7px 3px;
        margin-left: 20%;
    }

    .ultima-coluna {
        margin-left: 20%;
        margin-top: 15%;
    }

    .footer-logo {
        margin-left: 23%;
    }

    .footer-col {
        margin-left: 5%;
    }

    .footer-ul {
        padding-left: 37%;
        padding-bottom: 6;
    }

    .ultimo-footer {
        padding: auto
    }

    .ultimo-input {
        max-width: 70%;
        margin-left: 20%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .fotos-brands {
        padding-left: 30%;
    }

    .paragrafo-footer {
        padding-left: 15%;
    }

    .paragrafo-footer02 {
        padding-left: 15%;
    }

    .paragrafo-footer03 {
        padding-left: 22%;
    }

    .paragrafo-footer04 {
        padding-left: 20%;
    }

}